<!doctype html>
<!--[if IE 7 ]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.ico">
    <title>Ford Muchiutti - Presidente Prudente e Adamantina</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yellowtail%7COpen%20Sans%3A400%2C300%2C600%2C700%2C800" media="screen" />
    <!-- Custom styles for this template -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/jquery.bxslider.css" type="text/css" media="screen" />
    <link href="css/jquery.fancybox.css" rel="stylesheet">
    <link href="css/jquery.selectbox.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/mobile.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/settings.css" media="screen" />
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/ts.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key&amp;sensor=false"></script>

    <!-- Twitter Feed Scripts
         Uncomment to activate

    <script type="text/javascript" src="js/twitter/jquery.tweet.js"></script>
    <script type="text/javascript" src="js/twitter/twitter_feed.js"></script> -->

</head>

<body>
<!--Header Start-->
<header  data-spy="affix" data-offset-top="1" class="clearfix">
    <section class="toolbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 left_bar">
                    <ul class="left-none">
                        <li><i class="fa fa-search"></i>
                            <input type="search" placeholder="Buscar no site..." class="search_box">
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 ">
                    <ul class="right-none pull-right company_info">
                        <li><a href="tel:1893182000"><i class="fa fa-phone"></i> (18) 3918-2000 Presidente Prudente-SP / (18) 3522-8848 Adamantina-SP</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="toolbar_shadow"></div>
    </section>
    <div class="bottom-header" >
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        <a class="navbar-brand" href="#"><span class="logo">
                            <img src="images/logomuchiutti.png" style=""/>
                        </a> </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav pull-right">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="{{url('sobre-nos')}}">Sobre nós</a></li>
                            <li><a href="{{url('novos')}}">Veículos Novos</a></li>
                            <li><a href="{{url('usados')}}">Semi novos</a></li>
                            <li><a href="{{url('servicos')}}">Pós Venda</a></li>
                            <li><a href="{{url('contato')}}">Fale Conosco</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
        <div class="header_shadow"></div>
    </div>
</header>
<!--Header End-->

<div class="clearfix"></div>
<section class="banner-wrap">
    <div class="banner">
        <div class="tp-banner-container">
            <div class="tp-banner" >
                <ul>
                    <!-- SLIDE  -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700" >
                        <a href="#">
                            <img src="http://placehold.it/1920x625"   alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                            <!-- LAYERS -->
                            <div class="tp-caption mediumlarge_light_white_center domainate customin customout start"
                                 data-x="0"
                                 data-hoffset="0"
                                 data-y="214"

                                 data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                 data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                 data-speed="1000"
                                 data-start="500"
                                 data-easing="Back.easeInOut"
                                 data-endspeed="300">DOMINATE </div>

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption internet  fade"
                                 data-x="0"
                                 data-y="282"
                                 data-speed="500"
                                 data-start="800"
                                 data-easing="Power4.easeOut"
                                 data-endspeed="300"
                                 data-endeasing="Power1.easeIn"
                                 data-captionhidden="off"
                                 style="z-index: 6; letter-spacing: -3px;">THE INTERNET </div>
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption attract sfl"
                                 data-x="0"
                                 data-y="369"
                                 data-speed="500"
                                 data-start="1200"
                                 data-easing="Power4.easeOut"
                                 data-endspeed="300"
                                 data-endeasing="Power1.easeIn"
                                 data-captionhidden="off"
                                 style="z-index: 6; top: 371px; ">Attract, Engage, &amp; Convert </div>
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption more skewfromright "
                                 data-x="100"
                                 data-y="425"
                                 data-speed="800"
                                 data-start="1900"
                                 data-easing="Elastic.easeOut"
                                 data-endspeed="300"
                                 data-endeasing="Power1.easeIn"
                                 data-captionhidden="off"
                                 style="z-index: 6; left:186px;">more </div>
                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption qualified skewfromright"
                                 data-x="0"
                                 data-y="476"
                                 data-speed="800"
                                 data-start="2600"
                                 data-easing="Power4.easeOut"
                                 data-endspeed="300"
                                 data-endeasing="Power1.easeIn"
                                 data-captionhidden="off"
                                 style="z-index: 6">qualified vehicle shoppers </div>
                        </a> <!-- MAIN IMAGE -->
                    </li>
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700" >
                        <!-- MAIN IMAGE -->
                        <a href="#">
                            <img src="http://placehold.it/1920x625" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                            <!-- LAYERS -->
                            <div class="tp-caption mediumlarge_light_white_center invest start"
                                 data-x="543"
                                 data-hoffset="0"
                                 data-y="160"

                                 data-speed="1000"
                                 data-start="500"
                                 data-easing="Back.easeInQuart"
                                 data-endspeed="300">Time to invest in a website built to </div>

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption move mediumlarge_light_white_center fade"
                                 data-x="480"
                                 data-y="230"
                                 data-speed="500"
                                 data-start="800"
                                 data-easing="Power4.easeOut"
                                 data-endspeed="300"
                                 data-endeasing="Power1.easeIn"
                                 data-captionhidden="off"
                                 style="z-index: 6; letter-spacing: -3px;">MOVE </div>
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption light_brown mediumlarge_light_white_center sfl"
                                 data-x="615"
                                 data-y="230"
                                 data-speed="500"
                                 data-start="1200"
                                 data-easing="Power4.easeOut"
                                 data-endspeed="300"
                                 data-endeasing="Power1.easeIn"
                                 data-captionhidden="off"
                                 style="z-index: 6; top: 371px; ">YOUR </div>
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption dark_brown mediumlarge_light_white_center skewfromright "
                                 data-x="735"
                                 data-y="230"
                                 data-speed="800"
                                 data-start="1900"
                                 data-easing="Elastic.easeOut"
                                 data-endspeed="300"
                                 data-endeasing="Power1.easeIn"
                                 data-captionhidden="off"
                                 style="z-index: 6; left:186px;">INVENTORY </div>
                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption faster mediumlarge_light_white_center skewfromright"
                                 data-x="960"
                                 data-y="230"
                                 data-speed="800"
                                 data-start="2600"
                                 data-easing="Power4.easeOut"
                                 data-endspeed="300"
                                 data-endeasing="Power1.easeIn"
                                 data-captionhidden="off"
                                 style="z-index: 6">FASTER </div>
                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption brown_line skewfromright"
                                 data-x="482"
                                 data-y="261"
                                 data-speed="800"
                                 data-start="2600"
                                 data-easing="Power4.easeOut"
                                 data-endspeed="300"
                                 data-endeasing="Power1.easeIn"
                                 data-captionhidden="off"
                                 style="z-index: 6"><img src="images/brown_line.jpg" alt="underline"> </div>
                        </a>

                    </li>
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700" >
                        <a href="#">
                            <!-- MAIN IMAGE -->
                            <img src="http://placehold.it/1920x625"   alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                            <!-- LAYERS -->
                            <div class="tp-caption customin customout start green"
                                 data-x="40"
                                 data-hoffset="0"
                                 data-y="510"

                                 data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                 data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                 data-speed="1000"
                                 data-start="500"
                                 data-easing="Back.easeInOut"
                                 data-endspeed="300">Wow Factor?</div>

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption big_white fade"
                                 data-x="40"
                                 data-y="560"
                                 data-speed="500"
                                 data-start="800"
                                 data-easing="Power4.easeOut"
                                 data-endspeed="300"
                                 data-endeasing="Power1.easeIn"
                                 data-captionhidden="off"
                                 style="z-index: 6;">STANDARD. </div>
                        </a>
                    </li>
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700" >
                        <!-- MAIN IMAGE -->
                        <img src="http://placehold.it/1920x625"   alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                        <!-- LAYERS -->
                        <div class="tp-caption customin customout start big_white"
                             data-x="0"
                             data-hoffset="0"
                             data-y="235"

                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">UNLOCK</div>

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption thin_red fade"
                             data-x="300"
                             data-y="235"
                             data-speed="500"
                             data-start="800"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6;">THE POTENTIAL</div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption thin_white skewfromright"
                             data-x="0"
                             data-y="510"
                             data-speed="500"
                             data-start="800"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6;">business from your</div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption cursive skewfromright"
                             data-x="400"
                             data-y="570"
                             data-speed="500"
                             data-start="800"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6;">website</div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700" >
                        <!-- MAIN IMAGE -->
                        <img src="http://placehold.it/1920x625"   alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                        <!-- LAYERS -->
                        <div class="tp-caption mediumlarge_light_white_center domainate customin customout start"
                             data-x="0"
                             data-hoffset="0"
                             data-y="199"

                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">REALITY </div>

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption thin_dark_blue fade"
                             data-x="270"
                             data-y="210"
                             data-speed="500"
                             data-start="800"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6; letter-spacing: 0;">IS JUST</div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption thinner_white sfl"
                             data-x="05"
                             data-y="270"
                             data-speed="500"
                             data-start="1200"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6; top: 371px; ">your perception</div>
                    </li>
                </ul>
            </div>
        </div>
        <script type="text/javascript">

            var revapi;

            jQuery(document).ready(function() {

                revapi = jQuery('.tp-banner').css('visibility', 'visible').show().revolution(
                        {
                            delay:8000,
                            startwidth:1170,
                            startheight:645,
                            hideThumbs:10,
                            fullWidth:"off",
                            fullScreen:"off",
                            fullScreenOffsetContainer: "",
                            hideTimerBar: "on",
                            navigationType:"none",
                            stopAtSlide: 1

                        });

            });	//ready

        </script>

        <!-- END REVOLUTION SLIDER -->

        <!-- Content End -->

    </div>
</section>
<section class="message-wrap">
    <div class="container">
        <div class="row">
            <h2 class="col-lg-9 col-md-8 col-sm-12 col-xs-12 xs-padding-left-15">Conheça os melhores lançamentos do ano como o novo focus <span class="alternate-font">fastback</span></h2>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 xs-padding-right-15"> <a href="#" class="default-btn pull-right action_button lg-button">Agendar o Test Drive</a> </div>
        </div>
    </div>
    <div class="message-shadow"></div>
</section>
<!--message-wrap ends-->
<section class="content">
    <div class="container">
        <div class="inner-page homepage margin-bottom-none">
            <section class="car-block-wrap padding-bottom-40">
                <div class="container">
                    <div class="row">
                        <div class="col-md-1 prevSeta"> </div>
                        <div id="carousel-home" class="carousel slide col-md-10" data-ride="carousel">


                            <ol class="carousel-indicators">
                                <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-home" data-slide-to="1" class=""></li>
                            </ol>


                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">


                                <div class="item active">
                                    <ul style="list-style: none">

                                        <li class="col-xs-6 text-center">
                                            <a href="veiculos_novos/detalhes/10/novo-ka">
                                                <img src="images/1cddc-ka.png">
                                                <h3>Novo KA</h3>
                                            </a>
                                        </li>


                                        <li class="col-xs-5 text-center">
                                            <a href="veiculos_novos/detalhes/11/novo-ka-">
                                                <img src="images/af44e-ka-sedan.png">
                                                <h3>Novo KA+</h3>
                                            </a>
                                        </li>


                                        <li class="col-xs-6 text-center">
                                            <a href="veiculos_novos/detalhes/12/new-fiesta-hatch">
                                                <img src="images/038f8-fiesta-hatch.png">
                                                <h3>New Fiesta Hatch</h3>
                                            </a>
                                        </li>


                                        <li class="col-xs-5 text-center">
                                            <a href="veiculos_novos/detalhes/13/new-fiesta-sedan">
                                                <img src="images/ca3a0-fiesta-sedan.png">
                                                <h3>New Fiesta Sedan</h3>
                                            </a>
                                        </li>


                                        <li class="col-xs-6 text-center">
                                            <a href="veiculos_novos/detalhes/14/focus-hatch">
                                                <img src="images/d5c53-miniaturas.png">
                                                <h3>Focus Hatch</h3>
                                            </a>
                                        </li>


                                        <li class="col-xs-5 text-center">
                                            <a href="veiculos_novos/detalhes/15/focus-fastback">
                                                <img src="images/70bc9-miniaturas.png">
                                                <h3>Focus FastBack</h3>
                                            </a>
                                        </li>

                                    </ul>
                                </div>


                                <div class="item">
                                    <ul style="list-style: none">

                                        <li class="col-xs-6 text-center">
                                            <a href="veiculos_novos/detalhes/16/fusion">
                                                <img src="images/92e51-fusion.png">
                                                <h3>Fusion</h3>
                                            </a>
                                        </li>


                                        <li class="col-xs-5 text-center">
                                            <a href="veiculos_novos/detalhes/17/ranger-cabine-simples">
                                                <img src="images/02580-ranger-simples.png">
                                                <h3>Ranger Cabine Simples</h3>
                                            </a>
                                        </li>


                                        <li class="col-xs-6 text-center">
                                            <a href="veiculos_novos/detalhes/18/ranger-cabine-dupla">
                                                <img src="images/1aa03-ranger-dupla.png">
                                                <h3>Ranger Cabine Dupla</h3>
                                            </a>
                                        </li>


                                        <li class="col-xs-5 text-center">
                                            <a href="veiculos_novos/detalhes/7/ford-novo-ecosport">
                                                <img src="images/be858-ecosport.png">
                                                <h3>Ford Novo Ecosport</h3>
                                            </a>
                                        </li>


                                        <li class="col-xs-6 text-center">
                                            <a href="veiculos_novos/detalhes/8/ford-edge">
                                                <img src="images/c3d8f-edge.png">
                                                <h3>Ford Edge</h3>
                                            </a>
                                        </li>

                                    </ul>
                                </div>


                            </div>

                        </div>
                        <div class="col-md-1 nextSeta">  </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 welcome padding-left-none padding-bottom-40 scroll_effect fadeInUp">
                            <h4 class="margin-bottom-25 margin-top-none"><strong>BEM VINDO</strong> A NOSSO NOVO SITE</h4>
                            <p>Seja bem-vindo ao nosso novo site.
                                Inteiramente reformulado, ele traz a você uma experiência de navegação muito melhor e agradável,
                                com um visual mais moderno e dinâmico. <br/>Aqui você poderá encontrar informações sobre nossos produtos
                                e serviços e as últimas novidades da  <span class="alternate-font">Ford</span>.
                            </p><p>
                            Esperamos que gostem da novidade e, não esqueçam de deixar os comentários.
                        </p>
                        </div>
                        <!--welcome ends-->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-right-none sm-padding-left-none md-padding-left-15 xs-padding-left-none padding-bottom-40 scroll_effect fadeInUp" data-wow-delay='.2s' style="z-index:100">
                            <h4 class="margin-bottom-25 margin-top-none"><strong>BUSCAR</strong> NOSSOS CARROS</h4>
                            <div class="search-form margin-top-20 padding-vertical-20">
                                <form method="post" action="#">
                                    <div class="select-wrapper clearfix">
                                        <div class="form-element">
                                            <input type="checkbox" id="check3">
                                            <label for="check3">Novos</label>
                                        </div>
                                        <div class="form-element clearfix">
                                            <input type="checkbox" id="check">
                                            <label for="check">Semi Novo</label>
                                        </div>
                                    </div>
                                    <div class="select-wrapper clearfix">
                                        <div class="col-md-6">
                                            <div class="min-price select-dropdown">
                                                <div class="my-dropdown min-price-dropdown min-dropdown">
                                                    <select name="min-year" class="css-dropdowns" tabindex="1" >
                                                        <option value="">Ano Min</option>
                                                        <option>2015</option>
                                                        <option>2014</option>
                                                        <option>2013</option>
                                                        <option>2012</option>
                                                        <option>2011</option>
                                                        <option>2010</option>
                                                        <option>2009</option>
                                                        <option>2008</option>
                                                        <option>2007</option>
                                                        <option>2006</option>
                                                        <option>2005</option>
                                                        <option>2004</option>
                                                    </select>
                                                </div>
                                                <span class="my-dropdown">to</span>
                                                <div class="my-dropdown max-price-dropdown min-dropdown">
                                                    <select name="max-year" class="css-dropdowns" tabindex="1" >
                                                        <option value="">Ano Max</option>
                                                        <option>2015</option>
                                                        <option>2014</option>
                                                        <option>2013</option>
                                                        <option>2012</option>
                                                        <option>2011</option>
                                                        <option>2010</option>
                                                        <option>2009</option>
                                                        <option>2008</option>
                                                        <option>2007</option>
                                                        <option>2006</option>
                                                        <option>2005</option>
                                                        <option>2004</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="min-price select-dropdown">
                                                <div class="my-dropdown min-price-dropdown min-dropdown">
                                                    <select name="min-price" class="css-dropdowns" tabindex="1" >
                                                        <option value="">Preço Min</option>
                                                        <option>0</option>
                                                        <option>&lt; 10,000</option>
                                                        <option>&lt; 20,000</option>
                                                        <option>&lt; 30,000</option>
                                                        <option>&lt; 40,000</option>
                                                        <option>&lt; 50,000</option>
                                                        <option>&lt; 60,000</option>
                                                        <option>&lt; 70,000</option>
                                                        <option>&lt; 80,000</option>
                                                        <option>&lt; 90,000</option>
                                                        <option>&lt; 100,000</option>
                                                        <option>&lt; 120,000</option>
                                                        <option>&lt; 150,000</option>
                                                    </select>
                                                </div>
                                                <span class="my-dropdown">to</span>
                                                <div class="my-dropdown max-price-dropdown min-dropdown">
                                                    <select name="max-price" class="css-dropdowns" tabindex="1" >
                                                        <option value="">Preço Max</option>
                                                        <option>0</option>
                                                        <option>&lt; 10,000</option>
                                                        <option>&lt; 20,000</option>
                                                        <option>&lt; 30,000</option>
                                                        <option>&lt; 40,000</option>
                                                        <option>&lt; 50,000</option>
                                                        <option>&lt; 60,000</option>
                                                        <option>&lt; 70,000</option>
                                                        <option>&lt; 80,000</option>
                                                        <option>&lt; 90,000</option>
                                                        <option>&lt; 100,000</option>
                                                        <option>&lt; 120,000</option>
                                                        <option>&lt; 150,000</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="select-wrapper clearfix">
                                        <div class="col-md-6">
                                            <div class="my-dropdown make-dropdown">
                                                <select name="body_style" class="css-dropdowns" tabindex="1" >
                                                    <option value="">Tipo</option>
                                                    <option>Coupe</option>
                                                    <option>Hatchback</option>
                                                    <option>Minivan</option>
                                                    <option>Sedan</option>
                                                    <option>SUV</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="min-price select-dropdown">
                                                <div class="my-dropdown min-price-dropdown min-dropdown">
                                                    <select name="min-mileage" class="css-dropdowns" tabindex="1" >
                                                        <option value="">KM Min</option>
                                                        <option>0</option>
                                                        <option>&lt; 10,000</option>
                                                        <option>&lt; 20,000</option>
                                                        <option>&lt; 30,000</option>
                                                        <option>&lt; 40,000</option>
                                                        <option>&lt; 50,000</option>
                                                        <option>&lt; 60,000</option>
                                                        <option>&lt; 70,000</option>
                                                        <option>&lt; 80,000</option>
                                                        <option>&lt; 90,000</option>
                                                        <option>&lt; 100,000</option>
                                                        <option>&lt; 120,000</option>
                                                        <option>&lt; 150,000</option>
                                                    </select>
                                                </div>
                                                <span class="my-dropdown">to</span>
                                                <div class="my-dropdown max-price-dropdown min-dropdown">
                                                    <select name="max-mileage" class="css-dropdowns" tabindex="1" >
                                                        <option value="">KM Max</option>
                                                        <option>0</option>
                                                        <option>&lt; 10,000</option>
                                                        <option>&lt; 20,000</option>
                                                        <option>&lt; 30,000</option>
                                                        <option>&lt; 40,000</option>
                                                        <option>&lt; 50,000</option>
                                                        <option>&lt; 60,000</option>
                                                        <option>&lt; 70,000</option>
                                                        <option>&lt; 80,000</option>
                                                        <option>&lt; 90,000</option>
                                                        <option>&lt; 100,000</option>
                                                        <option>&lt; 120,000</option>
                                                        <option>&lt; 150,000</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="select-wrapper clearfix">
                                        <div class="col-md-6">
                                            <div class="my-dropdown make-dropdown">
                                                <select name="model" class="css-dropdowns" tabindex="1" >
                                                    <option value="">Modelo</option>
                                                    <option>Lorem</option>
                                                    <option>ipsum</option>
                                                    <option>dolor</option>
                                                    <option>sit</option>
                                                    <option>amet</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="my-dropdown make-dropdown">
                                                <select name="transmission" class="css-dropdowns" tabindex="1" >
                                                    <option value="">Transmisão</option>
                                                    <option>Automatico</option>
                                                    <option>Manual</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="select-wrapper clearfix">
                                        <div class="col-md-6">
                                            <div class="my-dropdown make-dropdown">
                                                <select name="make" class="css-dropdowns" tabindex="1" >
                                                    <option value="">Outro</option>
                                                    <option>Lorem</option>
                                                    <option>ipsum</option>
                                                    <option>dolor</option>
                                                    <option>sit</option>
                                                    <option>amet</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="my-dropdown">
                                                <input class="full-width" type="search" value="" placeholder="Melhorar busca...">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="select-wrapper clearfix">
                                        <div class="form-element">
                                            <input type="submit" value="Buscar meu veiculo" class="find_new_vehicle pull-right md-button">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--invetory ends-->
                    </div>

                    <div class="recent-vehicles-wrap margin-top-30 sm-padding-left-none padding-bottom-40">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 recent-vehicles padding-left-none">
                                <h5 class="margin-top-none">Ultimos Veiculos</h5>
                                <p>Veja os ultimos veículos que temos em nosso estoque.</p>
                                <div class="arrow3 clearfix margin-top-15 xs-margin-bottom-25" id="slideControls3"><span class="prev-btn"></span><span class="next-btn"></span></div>
                            </div>
                            <div class="col-md-10 col-sm-8 padding-right-none xs-padding-left-none">
                                <div class="carasouel-slider3">
                                    <div class="slide">
                                        <div class="car-block">
                                            <div class="img-flex"> <a href="#"><span class="align-center"><i class="fa fa-3x fa-plus-square-o"></i></span></a> <img src="http://placehold.it/170x105" alt="" class="img-responsive"> </div>
                                            <div class="car-block-bottom">
                                                <h6><strong>2012 Porsche Cayenne GTS</strong></h6>
                                                <h6>1 Owner, 26,273 miles</h6>
                                                <h5>$ 102,995</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="car-block">
                                            <div class="img-flex"> <a href="#"><span class="align-center"><i class="fa fa-3x fa-plus-square-o"></i></span></a> <img src="http://placehold.it/170x105" alt="" class="img-responsive"> </div>
                                            <div class="car-block-bottom">
                                                <h6><strong>2009 Porsche Boxster</strong></h6>
                                                <h6>New Tires, 26,273 miles</h6>
                                                <h5>$ 34,995</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="car-block">
                                            <div class="img-flex"> <a href="#"><span class="align-center"><i class="fa fa-3x fa-plus-square-o"></i></span></a> <img src="http://placehold.it/170x105" alt="" class="img-responsive"> </div>
                                            <div class="car-block-bottom">
                                                <h6><strong>2013 Porsche Panamera S</strong></h6>
                                                <h6>Demonstrator, 7,088 miles</h6>
                                                <h5>$ 63,995</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="car-block">
                                            <div class="img-flex"> <a href="#"><span class="align-center"><i class="fa fa-3x fa-plus-square-o"></i></span></a> <img src="http://placehold.it/170x105" alt="" class="img-responsive"> </div>
                                            <div class="car-block-bottom">
                                                <h6><strong>2010 Porsche Carrera 4S</strong></h6>
                                                <h6>AWD, 21,900 miles</h6>
                                                <h5>$ 73,995</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="car-block">
                                            <div class="img-flex"> <a href="#"><span class="align-center"><i class="fa fa-3x fa-plus-square-o"></i></span></a> <img src="http://placehold.it/170x105" alt="" class="img-responsive"> </div>
                                            <div class="car-block-bottom">
                                                <h6><strong>2012 Porsche Carrera S</strong></h6>
                                                <h6>Convertible, 22,158 miles</h6>
                                                <h5>$ 56,995</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="car-block">
                                            <div class="img-flex"> <a href="#"><span class="align-center"><i class="fa fa-3x fa-plus-square-o"></i></span></a> <img src="http://placehold.it/170x105" alt="" class="img-responsive"> </div>
                                            <div class="car-block-bottom">
                                                <h6><strong>2013 Porsche Panamera GTS</strong></h6>
                                                <h6>1 Owner, 3,914 miles</h6>
                                                <h5>$ 94,995</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="car-block">
                                            <div class="img-flex"> <a href="#"><span class="align-center"><i class="fa fa-3x fa-plus-square-o"></i></span></a> <img src="http://placehold.it/170x105" alt="" class="img-responsive"> </div>
                                            <div class="car-block-bottom">
                                                <h6><strong>2014 Porsche Cayenne GTS</strong></h6>
                                                <h6>1 Owner, 7 miles</h6>
                                                <h5>$ 114,995</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="car-block">
                                            <div class="img-flex"> <a href="#"><span class="align-center"><i class="fa fa-3x fa-plus-square-o"></i></span></a> <img src="http://placehold.it/170x105" alt="" class="img-responsive"> </div>
                                            <div class="car-block-bottom">
                                                <h6><strong>2014 Porsche GTS</strong></h6>
                                                <h6>1 Owner, 5 miles</h6>
                                                <h5>$ 99,995</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="car-block">
                                            <div class="img-flex"> <a href="#"><span class="align-center"><i class="fa fa-3x fa-plus-square-o"></i></span></a> <img src="http://placehold.it/170x105" alt="" class="img-responsive"> </div>
                                            <div class="car-block-bottom">
                                                <h6><strong>2009 Porsche Carrera 4S</strong></h6>
                                                <h6>1 Owner, 114,239 miles</h6>
                                                <h5>$ 39,995</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <!--car-block-wrap ends
            <div class="row parallax_parent design_2 margin-bottom-40 margin-top-30">
                <div class="parallax_scroll clearfix" data-velocity="-.5" data-offset="-200" data-image="images/parallax1.jpg">
                    <div class="overlay">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-left-none xs-margin-bottom-none xs-padding-top-30 scroll_effect bounceInLeft"> <span class="align-center"><i class="fa fa-6x fa-bar-chart-o"></i></span>
                                    <h3>Resultados</h3>
                                    <p>Sed ut perspiciatis unde om nis
                                        natus error sit volup atem accusant
                                        dolorem que laudantium. Totam
                                        aperiam, eaque ipsa quae ai.</p>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 xs-margin-bottom-none xs-padding-top-30 scroll_effect bounceInLeft" data-wow-delay=".2s"> <span class="align-center"><i class="fa fa-6x fa-road"></i></span>
                                    <h3>Tecnologia</h3>
                                    <p>Sed ut perspiciatis unde om nis
                                        natus error sit volup atem accusant
                                        dolorem que laudantium. Totam
                                        aperiam, eaque ipsa quae ai.</p>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 xs-margin-bottom-none xs-padding-top-30 scroll_effect bounceInRight" data-wow-delay=".2s"> <span class="align-center"><i class="fa fa-6x fa-flag-checkered"></i></span>
                                    <h3>Serviços</h3>
                                    <p>Sed ut perspiciatis unde om nis
                                        natus error sit volup atem accusant
                                        dolorem que laudantium. Totam
                                        aperiam, eaque ipsa quae ai.</p>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 xs-margin-bottom-none xs-padding-top-30 padding-right-none scroll_effect bounceInRight"> <span class="align-center"><i class="fa fa-6x fa-dashboard"></i></span>
                                    <h3>Performace</h3>
                                    <p>Sed ut perspiciatis unde om nis
                                        natus error sit volup atem accusant
                                        dolorem que laudantium. Totam
                                        aperiam, eaque ipsa quae ai.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--car-info-wrap ends-->
            <section class="welcome-wrap padding-top-30 sm-horizontal-15">
                <h4 class="margin-bottom-25 margin-top-none"><strong>NOTÍCIAS</strong> FORD</h4>

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 margin-bottom-none">
                        <div class="flip margin-bottom-30">
                            <div class="card">
                                <div class="face front"><img class="img-responsive" src="http://placehold.it/360x200" alt=""></div>
                                <div class="face back">
                                    <div class='hover_title'>Race Ready</div>
                                    <a href="#"><i class="fa fa-link button_icon"></i></a> <a href="images/car1-lrg.jpg" class="fancybox"><i class="fa fa-arrows-alt button_icon"></i></a> </div>
                            </div>
                        </div>
                        <h4><a href="#">FACTORY READY FOR TRACK DAY</a></h4>
                        <p class="margin-bottom-none">Sea veniam lucilius neglegentur ad, an per sumo volum
                            voluptatibus. Qui cu everti repudiare. Eam ut cibo nobis
                            aperiam, elit qualisque at cum. Possit antiopam id est.
                            Illud delicata ea mel, sed novum mucius id. Nullam qua.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 margin-bottom-none">
                        <div class="flip horizontal margin-bottom-30">
                            <div class="card">
                                <div class="face front"><img class="img-responsive" src="http://placehold.it/360x200" alt=""></div>
                                <div class="face back">
                                    <div class='hover_title'>Family Oriented</div>
                                    <a href="#"><i class="fa fa-link button_icon"></i></a> <a href="images/car2-lrg.jpg" class="fancybox"><i class="fa fa-arrows-alt button_icon"></i></a> </div>
                            </div>
                        </div>
                        <h4><a href="#">A SPORT UTILITY FOR THE FAMILY</a></h4>
                        <p class="margin-bottom-none">Cum ut tractatos imperdiet, no tamquam facilisi qui.
                            Eum tibique consectetuer in, an legimus referrentur vis,
                            vocent deseruisse ex mel. Sed te idque graecis. Vel ne
                            libris dolores, in mel graece dolorum.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 margin-bottom-none">
                        <div class="flip horizontal margin-bottom-30">
                            <div class="card">
                                <div class="face front"><img class="img-responsive" src="http://placehold.it/360x200" alt=""></div>
                                <div class="face back">
                                    <div class='hover_title'>Family Oriented</div>
                                    <a href="#"><i class="fa fa-link button_icon"></i></a> <a href="images/car2-lrg.jpg" class="fancybox"><i class="fa fa-arrows-alt button_icon"></i></a> </div>
                            </div>
                        </div>
                        <h4><a href="#">A SPORT UTILITY FOR THE FAMILY</a></h4>
                        <p class="margin-bottom-none">Cum ut tractatos imperdiet, no tamquam facilisi qui.
                            Eum tibique consectetuer in, an legimus referrentur vis,
                            vocent deseruisse ex mel. Sed te idque graecis. Vel ne
                            libris dolores, in mel graece dolorum.</p>
                    </div>
                </div>
                <!-- Footer Map -->
                <div class='fullwidth_element_parent margin-top-30 padding-bottom-40'>
                    <div id='google-map-listing' class='fullwidth_element' data-longitude='-51.407389' data-latitude='-22.141954' data-zoom='16' style='height: 390px;' data-scroll='false' data-style='[{"featureType":"landscape","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"stylers":[{"hue":"#F0F0F0"},{"saturation":-100},{"gamma":2.15},{"lightness":12}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"lightness":24}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":57}]}]'></div>
                </div>
                <div class="car-rate-block clearfix margin-top-30 padding-bottom-40">
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 xs-margin-bottom-40 sm-margin-bottom-none padding-left-none scroll_effect bounceInLeft">
                        <div class="small-block clearfix">
                            <h4 class="margin-bottom-25 margin-top-none">Financiamento.</h4>
                            <a href="#"><span class="align-center"><i class="fa fa-tag fa-7x"></i></span></a> </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 xs-margin-bottom-40 sm-margin-bottom-none scroll_effect bounceInLeft" data-wow-delay=".2s">
                        <div class="small-block clearfix">
                            <h4 class="margin-bottom-25 margin-top-none">Serviços.</h4>
                            <a href="#"><span class="align-center"><i class="fa fa-cogs fa-7x"></i></span></a> </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding-left-none padding-right-none hours_operation">
                        <div class="small-block clearfix">
                            <h4 class="margin-bottom-25 margin-top-none">Que hora estamos aberto?</h4>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 xs-margin-bottom-40 sm-margin-bottom-40 md-margin-bottom-none scroll_effect bounceInUp" data-wow-delay=".4s">
                                    <table class="table table-bordered no-border font-13px margin-bottom-none">
                                        <thead>
                                        <tr>
                                            <td colspan="2"><strong>Departamento de vendas</strong></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Seg:</td>
                                            <td>8:00am - 18:00</td>
                                        </tr>
                                        <tr>
                                            <td>Ter:</td>
                                            <td>8:00am - 18:00</td>
                                        </tr>
                                        <tr>
                                            <td>Qua:</td>
                                            <td>8:00am - 18:00</td>
                                        </tr>
                                        <tr>
                                            <td>Qui:</td>
                                            <td>8:00am - 18:00</td>
                                        </tr>
                                        <tr>
                                            <td>Sex:</td>
                                            <td>8:00am - 18:00</td>
                                        </tr>
                                        <tr>
                                            <td>Sab:</td>
                                            <td>9:00am - 18:00</td>
                                        </tr>
                                        <tr>
                                            <td>Dom:</td>
                                            <td>Fechado</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 xs-margin-bottom-40 sm-margin-bottom-none scroll_effect bounceInUp" data-wow-delay=".4s">
                                    <table class="table table-bordered no-border font-13px margin-bottom-none">
                                        <thead>
                                        <tr>
                                            <td colspan="2"><strong>Departamento Serviços</strong></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Seg:</td>
                                            <td>8:00am - 18:00</td>
                                        </tr>
                                        <tr>
                                            <td>Ter:</td>
                                            <td>8:00am - 18:00</td>
                                        </tr>
                                        <tr>
                                            <td>Qua:</td>
                                            <td>8:00am - 18:00</td>
                                        </tr>
                                        <tr>
                                            <td>Qui:</td>
                                            <td>8:00am - 18:00</td>
                                        </tr>
                                        <tr>
                                            <td>Sex:</td>
                                            <td>8:00am - 18:00</td>
                                        </tr>
                                        <tr>
                                            <td>Sab:</td>
                                            <td>9:00am - 18:00</td>
                                        </tr>
                                        <tr>
                                            <td>Dom:</td>
                                            <td>Fechado</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 xs-margin-bottom-40 sm-margin-bottom-none scroll_effect bounceInRight" data-wow-delay=".2s">
                        <div class="small-block clearfix">
                            <h4 class="margin-bottom-25 margin-top-none">Sobre nós.</h4>
                            <a href="#"><span class="align-center"><i class="fa fa-users fa-7x"></i></span></a> </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 xs-margin-bottom-40 sm-margin-bottom-none padding-right-none scroll_effect bounceInRight">
                        <div class="small-block clearfix">
                            <h4 class="margin-bottom-25 margin-top-none">Contato.</h4>
                            <a href="#"><span class="align-center"><i class="fa fa-map-marker fa-7x"></i></span></a> </div>
                    </div>
                </div>
            </section>
            <!--welcome-wrap ends-->

            <div class="row parallax_parent margin-top-30">
                <div class="parallax_scroll clearfix" data-velocity="-.5" data-offset="-300" data-no-repeat="true" data-image="images/parallax2.jpg">
                    <div class="overlay">
                        <div class="container">

                            <div class="row">

                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-left-none margin-vertical-60">
                                    <i class="fa fa-car"></i>

                                    <span class="animate_number margin-vertical-15">
                                        <span class="number">2,000</span>
                                    </span>

                                    Carros Vendidos
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-vertical-60">
                                    <i class="fa fa-money"></i>

                                    <span class="animate_number margin-vertical-15">
                                        $<span class="number">750,000</span>
                                    </span>

                                    Total economizado
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-vertical-60">
                                    <i class="fa fa-users"></i>

                                    <span class="animate_number margin-vertical-15">
                                        <span class="number">100</span>%
                                    </span>

                                    Satisfação dos clientes
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-right-none margin-vertical-60">
                                    <i class="fa fa-tint"></i>

                                    <span class="animate_number margin-vertical-15">
                                        <span class="number">3,600</span>
                                    </span>

                                    Serviços Automotivos
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Footer Start-->

<!--Footer Start-->
<footer class="design_2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-left-none md-padding-left-none sm-padding-left-15 xs-padding-left-15">
                <h4>newsletter</h4>
                <p>Se inscreva em nossa newsletter e fique por dentro de todos lançamentos e promoções da Ford</p>
                <form method="post" action="#" class="form_contact">
                    <input type="text" value="" name="MERGE0" placeholder="Email ">
                    <input type="submit" value="Subscribe" class="md-button">
                    <input type="hidden" name="u" value="">
                    <input type="hidden" name="id" value="">
                </form>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="fb-page" data-href="https://www.facebook.com/FORDVMUCHIUTT" data-width="320" data-height="10<div class="fb-page" data-href="https://www.facebook.com/FORDVMUCHIUTT" data-width="320" data-height="100" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/FORDVMUCHIUTT"><a href="https://www.facebook.com/FORDVMUCHIUTT">V. Muchiutt Veículos</a></blockquote></div></div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-right-none md-padding-right-none sm-padding-right-15 xs-padding-right-15">
            <h4>Nosso contato</h4>
            <div class="footer-contact">
                <ul>
                    <li><i class="fa fa-map-marker"></i> <strong>Endereço:</strong> Av Joaquim Constantino, 1895, Presidente Prudente - SP</li>
                    <li><i class="fa fa-phone"></i> <strong>Telefone:</strong>(18) 3918-2000</li>
                    <li><i class="fa fa-envelope-o"></i> <strong>Email:</strong><a href="mailto:veiculos@muchiutt.com.br">veiculos@muchiutt.com.br</a></li>
                </ul>

                <i class="fa fa-location-arrow back_icon"></i>
            </div>
        </div>
    </div>
    </div>
</footer>

<div class="clearfix"></div>
<section class="copyright-wrap padding-bottom-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="logo-footer margin-bottom-20 md-margin-bottom-20 sm-margin-bottom-10 xs-margin-bottom-20"><a href="#">
                    <img src="images/logomuchiutti.png" style="width:120px"/>
                </div>
                <p>Copyright &copy; 2015 Muchiutti. Todos direitos reservados.</p>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                <ul class="social margin-bottom-25 md-margin-bottom-25 sm-margin-bottom-20 xs-margin-bottom-20 xs-padding-top-10 clearfix">
                    <li><a class="sc-1" href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.4&appId=189448654433457";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="back_to_top"> <img src="images/arrow-up.png" alt="scroll up" /> </div>
<!-- Bootstrap core JavaScript -->
<script src="js/retina.js"></script>
<script type="text/javascript" src="js/jquery.parallax.js"></script>
<script type="text/javascript" src="js/jquery.inview.min.js"></script>
<script src="js/main.js"></script>
<script type="text/javascript" src="js/jquery.fancybox.js"></script>
<script src="js/modernizr.custom.js"></script>
<script defer src="js/jquery.flexslider.js"></script>
<script src="js/jquery.bxslider.js" type="text/javascript"></script>
<script src="js/jquery.selectbox-0.2.js" type="text/javascript"></script>
<script type="text/javascript" src="js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="js/jquery.easing.js"></script>
</body>
</html>