<!doctype html>
<!--[if IE 7 ]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.ico">
    <title>Ford Muchiutti - Presidente Prudente e Adamantina</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yellowtail%7COpen%20Sans%3A400%2C300%2C600%2C700%2C800" media="screen" />
    <!-- Custom styles for this template -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/jquery.bxslider.css" type="text/css" media="screen" />
    <link href="css/jquery.fancybox.css" rel="stylesheet">
    <link href="css/jquery.selectbox.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/mobile.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/settings.css" media="screen" />
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/ts.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key&amp;sensor=false"></script>

    <!-- Twitter Feed Scripts
         Uncomment to activate

    <script type="text/javascript" src="js/twitter/jquery.tweet.js"></script>
    <script type="text/javascript" src="js/twitter/twitter_feed.js"></script> -->

</head>

<body>
<!--Header Start-->
<header  data-spy="affix" data-offset-top="1" class="clearfix">
    <section class="toolbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 left_bar">
                    <ul class="left-none">
                        <li><i class="fa fa-search"></i>
                            <input type="search" placeholder="Buscar no site..." class="search_box">
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 ">
                    <ul class="right-none pull-right company_info">
                        <li><a href="tel:1893182000"><i class="fa fa-phone"></i> (18) 3918-2000 Presidente Prudente-SP / (18) 3522-8848 Adamantina-SP</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="toolbar_shadow"></div>
    </section>
    <div class="bottom-header" >
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        <a class="navbar-brand" href="#"><span class="logo">
                            <img src="images/logomuchiutti.png" style=""/>
                        </a> </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav pull-right">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="{{url('sobre-nos')}}">Sobre nós</a></li>
                            <li><a href="{{url('novos')}}">Veículos Novos</a></li>
                            <li><a href="{{url('usados')}}">Semi novos</a></li>
                            <li><a href="{{url('servicos')}}">Pós Venda</a></li>
                            <li><a href="{{url('contato')}}">Fale Conosco</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
        <div class="header_shadow"></div>
    </div>
</header>
<!--Header End-->
<section id="secondary-banner" class="dynamic-image-12"><!--for other images just change the class name of this section block like, class="dynamic-image-2" and add css for the changed class-->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                <h2>Serviços</h2>
                <h4>Conheça nossos serviços</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 ">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>Serviços</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--secondary-banner ends-->
<div class="message-shadow"></div>
<div class="clearfix"></div>
<section class="content">
    <div class="container">
        <div class="inner-page services">

            <div class="row">
                <div class="featured-service clearfix padding-bottom-40 margin-top-30">
                    <h2 class="margin-top-none">Serviços <strong>Ford para você</strong></h2>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-bottom-none scroll_effect fadeInUp">
                            <div class="featured">
                                <h5></h5>
                                <img src="images/android-icon.png" alt="" data-hoverimg="images/android-icon-hover.png">
                                <p></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-bottom-none scroll_effect fadeInUp" data-wow-delay=".2s">
                            <div class="featured">
                                <h5></h5>
                                <a href="https://www.agenda.ford.com/singleUser.do?acao=login&country=BRA" target="_blank">
                                    <img src="images/icon-windows-8.png" alt="" data-hoverimg="images/icon-windows-8-hover.png">
                                </a>
                                <p></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-bottom-none scroll_effect fadeInUp" data-wow-delay=".4s">
                            <div class="featured">
                                <h5></h5>
                                <img src="images/twitter-icon.png" alt="" data-hoverimg="images/twitter-icon-hover.png">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="row">
                <div class="detail-service clearfix margin-top-30 padding-bottom-40">
                    <h2 class="margin-top-none">Detalhes dos nossos <strong>Serviços</strong></h2>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 scroll_effect fadeInLeft">
                            <div class="details margin-top-25">
                                <h5 class="customize">Box Rápido Motorcraft</h5>
                                <div class="padding-top-10">
                                    <p>
                                        O Box Rápido Motorcraft foi desenvolvido para pessoas como você, que não tem tempo a perder. Sempre que seu veículo precisar de serviços de manutenção básica e rotineira, o Box Rápido Motorcraft será oferecido, de forma que você tenha o seu veículo totalmente em ordem, num prazo de até 2 horas.
                                    </p>
                                    <p>
                                        Você poderá acompanhar o serviço junto ao mecânico ou aguardar em uma confortável sala de espera.
                                        Além da agilidade e transparência, você também poderá contar com preços justos e competitivos oferecidos através dos Kits Preço Fechado Ford.
                                    </p>
                                    <p>
                                        Veja abaixo os serviços disponíveis no Box Rápido Motorcraft:
                                    </p>
                                    <ul>

                                        <li>Alinhamento e balanceamento;</li>
                                        <li>Óleo Lubrificante;</li>
                                        <li>Pastilhas e Discos;</li>
                                        <li>Baterias;</li>
                                        <li>Fluídos;</li>
                                        <li>Suspensão (Molas e Amortecedores);</li>
                                        <li>Velas;</li>
                                        <li>Lâmpadas;</li>
                                        <li>Palhetas e Limpadores;</li>
                                        <li>Promoções Ford;</li>
                                        <li>Revisões;</li>
                                        <li>Filtros;</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 scroll_effect fadeInRight">
                            <div class="details margin-top-25">
                                <h5 class="music">Serviço Total Ford</h5>
                                <div class="padding-top-10">
                                    <p>O programa Serviço Total Ford foi criado pensando no seu bem-estar e tranquilidade. Ao visitar um de nossos Distribuidores Ford para serviços em garantia, revisões periódicas e manutenções, você encontra uma equipe especializada e muito bem treinada que vai atendê-lo com rapidez, cordialidade e transparência.
                                    </p><p>
                                    Além disso, um Consultor Técnico avaliará o seu carro em detalhes, na sua presença, onde esclarecerá o que precisa ser reparado, qual o valor destes serviços, além de estabelecer um prazo para entrega do veículo.
                                    Assim, você sai com a garantia de um serviço completo, atendendo os padrões de qualidade Ford que você e seu veículo merecem.
                                </p>
                                    <p>
                                        Agende seu atendimento através da opção “Agenda Ford” (site da Ford) ou entre em contato direto com o Distribuidor Ford de sua preferência.
                                    </p>
                                    <p>
                                        Veja todas as vantagens e benefícios que o Programa Serviço Total Ford tem pra você:
                                    </p>
                                    <ul>
                                        <li>Conveniência de horário de atendimento com hora marcada.</li>
                                        <li>Recepção imediata e personalizada.</li>
                                        <li>Sabe com antecedência o quanto vai pagar.</li>
                                        <li>Informação sobre o andamento dos serviços.</li>
                                        <li>Veículo pronto e entregue no prazo combinado.</li>
                                        <li>Explicação sobre o serviço realizado e os custos envolvidos.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 scroll_effect fadeInUp">
                            <div class="details margin-top-25">
                                <h5 class="awards">Serviço de Atendimento ao Cliente</h5>
                                <div class="padding-top-10">
                                    <p>A V. Muchiutt oferece o Serviço de Atendimento ao Cliente, com veículo da empresa e motorista, pra levar até a residência, quando o veículo ficar na oficina para revisão e outros serviços.
                                    </p>
                                    <p>
                                        Telefones para agendamento:
                                    </p>
                                    <ul>
                                        <li>Presidente Prudente: (18) 3918-2040</li>
                                        <li>Adamantina: (18) 3522-8848 </li>
                                    </ul>

                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 scroll_effect fadeInLeft" data-wow-delay=".2s">
                                <div class="details margin-top-25">
                                    <h5 class="work">Agend@Ford</h5>
                                    <p class="padding-top-10 margin-bottom-none">Aqui você acessa diretamente a agenda da Ford V.Muchiutt, escolhe dia, horário e até o consultor técnico que desejar. É rápido e prático.
                                        Clique Aqui</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 featured-brand-slider padding-left-none padding-right-none margin-top-30">
                        <div class="featured-brand">
                            <h3 class="margin-bottom-20">ALGUMAS MARCAS QUE TRABALHAMOS</h3>
                            <div class="arrow2" id="slideControls"><span class="prev-btn"></span><span class="next-btn"></span></div>
                            <div class="carasouel-slider featured_slider">
                                <div class="slide jquery scroll_effect fadeInUp"><a href="#">jquery</a></div>
                                <div class="slide html5 scroll_effect fadeInUp" data-wow-delay=".1s"><a href="#">html5</a></div>
                                <div class="slide my-sql scroll_effect fadeInUp" data-wow-delay=".2s"><a href="#">my-sql</a></div>
                                <div class="slide javascript scroll_effect fadeInUp" data-wow-delay=".3s"><a href="#">javascript</a></div>
                                <div class="slide wordpress scroll_effect fadeInUp" data-wow-delay=".4s"><a href="#">wordpress</a></div>
                                <div class="slide php scroll_effect fadeInUp" data-wow-delay=".5s"><a href="#">php</a></div>
                                <div class="slide jquery"><a href="#">jquery</a></div>
                                <div class="slide html5"><a href="#">html5</a></div>
                                <div class="slide my-sql"><a href="#">my-sql</a></div>
                                <div class="slide javascript"><a href="#">javascript</a></div>
                                <div class="slide wordpress"><a href="#">wordpress</a></div>
                                <div class="slide php"><a href="#">php</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--container ends-->
</section>
<!--content ends-->



<!--Footer Start-->
<footer class="design_2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-left-none md-padding-left-none sm-padding-left-15 xs-padding-left-15">
                <h4>newsletter</h4>
                <p>Se inscreva em nossa newsletter e fique por dentro de todos lançamentos e promoções da Ford</p>
                <form method="post" action="#" class="form_contact">
                    <input type="text" value="" name="MERGE0" placeholder="Email ">
                    <input type="submit" value="Subscribe" class="md-button">
                    <input type="hidden" name="u" value="">
                    <input type="hidden" name="id" value="">
                </form>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="fb-page" data-href="https://www.facebook.com/FORDVMUCHIUTT" data-width="320" data-height="10<div class="fb-page" data-href="https://www.facebook.com/FORDVMUCHIUTT" data-width="320" data-height="100" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/FORDVMUCHIUTT"><a href="https://www.facebook.com/FORDVMUCHIUTT">V. Muchiutt Veículos</a></blockquote></div></div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-right-none md-padding-right-none sm-padding-right-15 xs-padding-right-15">
            <h4>Nosso contato</h4>
            <div class="footer-contact">
                <ul>
                    <li><i class="fa fa-map-marker"></i> <strong>Endereço:</strong> Av Joaquim Constantino, 1895, Presidente Prudente - SP</li>
                    <li><i class="fa fa-phone"></i> <strong>Telefone:</strong>(18) 3918-2000</li>
                    <li><i class="fa fa-envelope-o"></i> <strong>Email:</strong><a href="mailto:veiculos@muchiutt.com.br">veiculos@muchiutt.com.br</a></li>
                </ul>

                <i class="fa fa-location-arrow back_icon"></i>
            </div>
        </div>
    </div>
    </div>
</footer>

<div class="clearfix"></div>
<section class="copyright-wrap padding-bottom-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="logo-footer margin-bottom-20 md-margin-bottom-20 sm-margin-bottom-10 xs-margin-bottom-20"><a href="#">
                    <img src="images/logomuchiutti.png" style="width:120px"/>
                </div>
                <p>Copyright &copy; 2015 Muchiutti. Todos direitos reservados.</p>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                <ul class="social margin-bottom-25 md-margin-bottom-25 sm-margin-bottom-20 xs-margin-bottom-20 xs-padding-top-10 clearfix">
                    <li><a class="sc-1" href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.4&appId=189448654433457";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="back_to_top"> <img src="images/arrow-up.png" alt="scroll up" /> </div>
<!-- Bootstrap core JavaScript -->
<script src="js/retina.js"></script>
<script type="text/javascript" src="js/jquery.parallax.js"></script>
<script type="text/javascript" src="js/jquery.inview.min.js"></script>
<script src="js/main.js"></script>
<script type="text/javascript" src="js/jquery.fancybox.js"></script>
<script src="js/modernizr.custom.js"></script>
<script defer src="js/jquery.flexslider.js"></script>
<script src="js/jquery.bxslider.js" type="text/javascript"></script>
<script src="js/jquery.selectbox-0.2.js" type="text/javascript"></script>
<script type="text/javascript" src="js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="js/jquery.easing.js"></script>
</body>
</html>