<!doctype html>
<!--[if IE 7 ]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.ico">
    <title>Ford Muchiutti - Presidente Prudente e Adamantina</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yellowtail%7COpen%20Sans%3A400%2C300%2C600%2C700%2C800" media="screen" />
    <!-- Custom styles for this template -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/jquery.bxslider.css" type="text/css" media="screen" />
    <link href="css/jquery.fancybox.css" rel="stylesheet">
    <link href="css/jquery.selectbox.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/mobile.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/settings.css" media="screen" />
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/ts.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key&amp;sensor=false"></script>

    <!-- Twitter Feed Scripts
         Uncomment to activate

    <script type="text/javascript" src="js/twitter/jquery.tweet.js"></script>
    <script type="text/javascript" src="js/twitter/twitter_feed.js"></script> -->

</head>

<body>
<!--Header Start-->
<header  data-spy="affix" data-offset-top="1" class="clearfix">
    <section class="toolbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 left_bar">
                    <ul class="left-none">
                        <li><i class="fa fa-search"></i>
                            <input type="search" placeholder="Buscar no site..." class="search_box">
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 ">
                    <ul class="right-none pull-right company_info">
                        <li><a href="tel:1893182000"><i class="fa fa-phone"></i> (18) 3918-2000 Presidente Prudente-SP / (18) 3522-8848 Adamantina-SP</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="toolbar_shadow"></div>
    </section>
    <div class="bottom-header" >
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        <a class="navbar-brand" href="#"><span class="logo">
                            <img src="images/logomuchiutti.png" style=""/>
                        </a> </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav pull-right">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="{{url('sobre-nos')}}">Sobre nós</a></li>
                            <li><a href="{{url('novos')}}">Veículos Novos</a></li>
                            <li><a href="{{url('usados')}}">Semi novos</a></li>
                            <li><a href="{{url('servicos')}}">Pós Venda</a></li>
                            <li><a href="{{url('contato')}}">Fale Conosco</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
        <div class="header_shadow"></div>
    </div>
</header>
<!--Header End-->

<div class="clearfix"></div>
<section id="secondary-banner" class="dynamic-image-11"><!--for other images just change the class name of this section block like, class="dynamic-image-2" and add css for the changed class-->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                <h2>Nosso equipe</h2>
                <h4>Conheça nossa equipe e tenha o melhor atendimento.</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>Nossa equipe</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--secondary-banner ends-->
<div class="message-shadow"></div>
<div class="clearfix"></div>
<section class="content">
    <div class="container">
        <div class="inner-page">
            <div class="row">
                <div class="col-lg-12 padding-left-none padding-right-none">
                    <p>
                        A V.Muchiutt, empresa prudentina , conhecida tradicionalmente por atuar no ramo de hotelaria e distribuição de auto-peças, tornou-se em 1999 distribuidora exclusiva na região de Presidente Prudente, de uma das maiores montadoras do mundo: a Ford Motors.
                    </p>
                    <p>
                        Além de gerar novos empregos e contribuir para o desenvolvimento econômico da região, a Ford V. Muchiutt trouxe a confiança e a tecnologia que a marca Ford representa em todo o mundo: Caminhões, utilitários, automóveis e as peças originais Ford.
                    </p>
                    <p>
                        Vários anos de sucesso e um longo caminho pela Frente. Resultado do trabalho de equipe e da parceria que a V. Muchiutt desenvolve com seus clientes, funcionários e fornecedores.
                    </p>
                </div>
            </div>

            <div class="our_inventory margin-top-30 scroll_effect bounceIn">
                <h4><span>BUSCAR</span> SEU VEICULO</h4>
                <div class="make_inventory clearfix margin-vertical-25 padding-top-25 padding-horizontal-20 padding-bottom-30">
                    <form method="post" action="#">
                        <div class="select-wrapper clearfix">
                            <div class="col-md-3">
                                <div class="my-dropdown make-dropdown">
                                    <select name="make" class="css-dropdowns" tabindex="1" >
                                        <option value="">Make</option>
                                        <option>Lorem</option>
                                        <option>ipsum</option>
                                        <option>dolor</option>
                                        <option>sit</option>
                                        <option>amet</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="min-price select-dropdown">
                                    <div class="my-dropdown min-price-dropdown min-dropdown">
                                        <select name="min-price" class="css-dropdowns" tabindex="1" >
                                            <option value="">Ano Min</option>
                                            <option>2015</option>
                                            <option>2014</option>
                                            <option>2013</option>
                                            <option>2012</option>
                                            <option>2011</option>
                                            <option>2010</option>
                                            <option>2009</option>
                                            <option>2008</option>
                                            <option>2007</option>
                                            <option>2006</option>
                                            <option>2005</option>
                                            <option>2004</option>
                                        </select>
                                    </div>
                                    <span class="my-dropdown">to</span>
                                    <div class="my-dropdown max-price-dropdown min-dropdown">
                                        <select name="max-price" class="css-dropdowns" tabindex="1" >
                                            <option value="">Ano Max</option>
                                            <option>2015</option>
                                            <option>2014</option>
                                            <option>2013</option>
                                            <option>2012</option>
                                            <option>2011</option>
                                            <option>2010</option>
                                            <option>2009</option>
                                            <option>2008</option>
                                            <option>2007</option>
                                            <option>2006</option>
                                            <option>2005</option>
                                            <option>2004</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-dropdown make-dropdown">
                                    <select name="body_style" class="css-dropdowns" tabindex="1" >
                                        <option value="">Tipo</option>
                                        <option>Coupe</option>
                                        <option>Hatchback</option>
                                        <option>Minivan</option>
                                        <option>Sedan</option>
                                        <option>SUV</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-dropdown make-dropdown">
                                    <select name="transmission" class="css-dropdowns" tabindex="1" >
                                        <option value="">Transmissão</option>
                                        <option>Automatic</option>
                                        <option>Manual</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-dropdown make-dropdown">
                                    <select name="model" class="css-dropdowns" tabindex="1" >
                                        <option value="">Modelo</option>
                                        <option>Lorem</option>
                                        <option>ipsum</option>
                                        <option>dolor</option>
                                        <option>sit</option>
                                        <option>amet</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="min-price select-dropdown">
                                    <div class="my-dropdown min-price-dropdown min-dropdown">
                                        <select name="min-price" class="css-dropdowns" tabindex="1" >
                                            <option value="">Menor Preço</option>
                                            <option>&lt; $1,000</option>
                                            <option>&lt; $10,000</option>
                                            <option>&lt; $20,000</option>
                                            <option>&lt; $30,000</option>
                                            <option>&lt; $40,000</option>
                                            <option>&lt; $50,000</option>
                                            <option>&lt; $60,000</option>
                                            <option>&lt; $70,000</option>
                                            <option>&lt; $80,000</option>
                                            <option>&lt; $90,000</option>
                                            <option>&lt; $100,000</option>
                                        </select>
                                    </div>
                                    <span class="my-dropdown">to</span>
                                    <div class="my-dropdown max-price-dropdown min-dropdown">
                                        <select name="max-price" class="css-dropdowns" tabindex="1" >
                                            <option value="">Maior Preço</option>
                                            <option>&lt; $1,000</option>
                                            <option>&lt; $10,000</option>
                                            <option>&lt; $20,000</option>
                                            <option>&lt; $30,000</option>
                                            <option>&lt; $40,000</option>
                                            <option>&lt; $50,000</option>
                                            <option>&lt; $60,000</option>
                                            <option>&lt; $70,000</option>
                                            <option>&lt; $80,000</option>
                                            <option>&lt; $90,000</option>
                                            <option>&lt; $100,000</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="min-price select-dropdown">
                                    <div class="my-dropdown min-price-dropdown min-dropdown">
                                        <select name="min-mileage" class="css-dropdowns" tabindex="1" >
                                            <option value="">KM Min</option>
                                            <option>0</option>
                                            <option>&lt; 10,000</option>
                                            <option>&lt; 20,000</option>
                                            <option>&lt; 30,000</option>
                                            <option>&lt; 40,000</option>
                                            <option>&lt; 50,000</option>
                                            <option>&lt; 60,000</option>
                                            <option>&lt; 70,000</option>
                                            <option>&lt; 80,000</option>
                                            <option>&lt; 90,000</option>
                                            <option>&lt; 100,000</option>
                                            <option>&lt; 120,000</option>
                                            <option>&lt; 150,000</option>
                                        </select>
                                    </div>
                                    <span class="my-dropdown">to</span>
                                    <div class="my-dropdown max-price-dropdown min-dropdown">
                                        <select name="max-mileage" class="css-dropdowns" tabindex="1" >
                                            <option value="">KM Max</option>
                                            <option>0</option>
                                            <option>&lt; 10,000</option>
                                            <option>&lt; 20,000</option>
                                            <option>&lt; 30,000</option>
                                            <option>&lt; 40,000</option>
                                            <option>&lt; 50,000</option>
                                            <option>&lt; 60,000</option>
                                            <option>&lt; 70,000</option>
                                            <option>&lt; 80,000</option>
                                            <option>&lt; 90,000</option>
                                            <option>&lt; 100,000</option>
                                            <option>&lt; 120,000</option>
                                            <option>&lt; 150,000</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-dropdown">
                                    <input class="full-width" type="search" value="" placeholder="Melhorar busca">
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="select-wrapper clearfix">
                        <div class="form-element pull-right">
                            <input type="submit" value="Encontrar">
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <!--container ends-->
</section>
<!--content ends-->
<div class="clearfix"></div>


<!--Footer Start-->
<footer class="design_2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-left-none md-padding-left-none sm-padding-left-15 xs-padding-left-15">
                <h4>newsletter</h4>
                <p>Se inscreva em nossa newsletter e fique por dentro de todos lançamentos e promoções da Ford</p>
                <form method="post" action="#" class="form_contact">
                    <input type="text" value="" name="MERGE0" placeholder="Email ">
                    <input type="submit" value="Subscribe" class="md-button">
                    <input type="hidden" name="u" value="">
                    <input type="hidden" name="id" value="">
                </form>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="fb-page" data-href="https://www.facebook.com/FORDVMUCHIUTT" data-width="320" data-height="10<div class="fb-page" data-href="https://www.facebook.com/FORDVMUCHIUTT" data-width="320" data-height="100" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/FORDVMUCHIUTT"><a href="https://www.facebook.com/FORDVMUCHIUTT">V. Muchiutt Veículos</a></blockquote></div></div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-right-none md-padding-right-none sm-padding-right-15 xs-padding-right-15">
            <h4>Nosso contato</h4>
            <div class="footer-contact">
                <ul>
                    <li><i class="fa fa-map-marker"></i> <strong>Endereço:</strong> Av Joaquim Constantino, 1895, Presidente Prudente - SP</li>
                    <li><i class="fa fa-phone"></i> <strong>Telefone:</strong>(18) 3918-2000</li>
                    <li><i class="fa fa-envelope-o"></i> <strong>Email:</strong><a href="mailto:veiculos@muchiutt.com.br">veiculos@muchiutt.com.br</a></li>
                </ul>

                <i class="fa fa-location-arrow back_icon"></i>
            </div>
        </div>
    </div>
    </div>
</footer>

<div class="clearfix"></div>
<section class="copyright-wrap padding-bottom-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="logo-footer margin-bottom-20 md-margin-bottom-20 sm-margin-bottom-10 xs-margin-bottom-20"><a href="#">
                    <img src="images/logomuchiutti.png" style="width:120px"/>
                </div>
                <p>Copyright &copy; 2015 Muchiutti. Todos direitos reservados.</p>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                <ul class="social margin-bottom-25 md-margin-bottom-25 sm-margin-bottom-20 xs-margin-bottom-20 xs-padding-top-10 clearfix">
                    <li><a class="sc-1" href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.4&appId=189448654433457";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="back_to_top"> <img src="images/arrow-up.png" alt="scroll up" /> </div>
<!-- Bootstrap core JavaScript -->
<script src="js/retina.js"></script>
<script type="text/javascript" src="js/jquery.parallax.js"></script>
<script type="text/javascript" src="js/jquery.inview.min.js"></script>
<script src="js/main.js"></script>
<script type="text/javascript" src="js/jquery.fancybox.js"></script>
<script src="js/modernizr.custom.js"></script>
<script defer src="js/jquery.flexslider.js"></script>
<script src="js/jquery.bxslider.js" type="text/javascript"></script>
<script src="js/jquery.selectbox-0.2.js" type="text/javascript"></script>
<script type="text/javascript" src="js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="js/jquery.easing.js"></script>
</body>
</html>